[device42]
# set Device42 params
username =
password =
url =

[dell]
# set api_key as provided by Dell
api_key = a980a9180aa6422800000000c65fa08c
url = https://sandbox.api.dell.com/support/assetinfo/v4/getassetwarranty

[hp]
# set api_key as provided by HP
api_key = NZuAdeMMKhzxa0caeRsRu8eLuBCRQL3i
api_secret = f0ODMMOA8oWj92dp
url = https://css.api.hp.com

[ibm]
url = http://support.lenovo.com/services/ru/en/ContentService/GetProducts
url2 = http://support.lenovo.com/ru/en/products

[lenovo]
url = http://support.lenovo.com/services/en/en/ContentService/GetProducts
url2 = http://support.lenovo.com/en/en/products

[cisco]
api_key = rwsfg7zxyzpnr3f4j3mdz4wb
api_secret = 4zYp5NFSYN33w97b4rztPAu7
url = https://api.cisco.com/product/v1.0

[other]
# print verbose info to STDOUT
debug = True
# number of retries for HTTP connections
retry = 3
# order number type can be one of:
#	1. vendor   - order number is returned from vendor ( only for Dell )
#	2. common   - order number is randomly generated and same for all purchases
#	3. descrete - order number is randomly generated and uniqe for every purchase
order_no_type = vendor
