[device42]
# set Device42 params
username =
password =
url =

[discover]
# enable/disable discoveries
dell = True
hp = True
ibm = True
lenovo = True
meraki = True
forcedupdate = False

[cisco]
# set the client_id and client_secret provided by Cisco
client_id =
client_secret =
url =

[dell]
# set api_key as provided by Dell
client_id =
client_secret =
url = https://apigtwb2c.us.dell.com/PROD/sbil/eapi/v5/asset-entitlements

[hp]
# set api_key as provided by HP
api_key =
api_secret =
url = https://css.api.hp.com

[ibm]
url = http://support.lenovo.com/services/us/en/ContentService/GetProducts
url2 = http://support.lenovo.com/us/en/products

[lenovo]
url = http://support.lenovo.com/services/us/en/ContentService/GetProducts
url2 = http://support.lenovo.com/us/en/products

[meraki]
api_key = 
url = https://api.meraki.com/api/v0

[other]
# print verbose info to STDOUT
debug = True
# number of retries for HTTP connections
retry = 3
# order number type can be one of:
#	1. vendor   - order number is returned from vendor ( only for Dell )
#	2. common   - order number is randomly generated and same for all purchases
#	3. descrete - order number is randomly generated and uniqe for every purchase
order_no_type = vendor
